.so-widget-sow-headline-sow-headline-66442f1c84d0 #sow-headline-container.sow-headline h2 {
  text-align: center;
  
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-66442f1c84d0 #sow-headline-container.sow-headline h3 {
  text-align: center;
  color: #000000;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-66442f1c84d0 #sow-headline-container.sow-headline .decoration {
  border-top: thin solid #ffffff;
  position: relative;
  height: 1px;
  margin: 20px 120px;
}