.so-widget-sow-headline-sow-headline-1b98c40561d0 #sow-headline-container.sow-headline h2 {
  text-align: center;
  
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-1b98c40561d0 #sow-headline-container.sow-headline h3 {
  text-align: center;
  
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-1b98c40561d0 #sow-headline-container.sow-headline .decoration {
  border-top: thin solid #4fc8ed;
  position: relative;
  height: 1px;
  margin: 20px 80px;
}