body {
  background-color: #fef298;
  height: 100%;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: ariel, helvetica, sans-serif;
  color: #fe7fc4;
}

.header,
.footer {
  background-color: #51becb;
}

.header h1 {
  text-align: center;
}

.catCard {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 5px;
}

.catCard img {
  max-width: 500px;
}
.catCard a {
  display: block;
  font-size: 10px;
}

#feed {
  height: 84%;
  top: 8%;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #51bfcb;
  text-align: center;
}
