---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10 bg-primary text-lightbg">
  <div class="pb-2">
<span class="text-xs opacity-50">
    Need help building a portfolio like this? <a href="https://itsjustivan.com" target="_blank" class="font-bold underline text-accent">Hire me</a>
    &copy; {today.getFullYear()} Ivan Yip
    </span>
    <!--No frameworks were harmed in the making of this site.-->
  </div>
  <div class="inline opacity-75">
  <span class="text-xs">I debug so you don’t have to.</span>    
  </div>
</footer>
<style></style>
