<div
    class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
>
</div>

<div class="social-icons px-4 pb-5 pt-1 flex self-center justify-center sticky bottom-0 bg-base-200">
    <a
        href="https://github.com/ItsJustIvan"
        target="_blank"
        class="mx-3 text-secondary hover:text-accent"
        aria-label="Github"
        title="Github"
    >
        <i class="bx bxl-github" style="font-size: 24px;"></i>
    </a>
    <a
        href="https://codepen.io/Digit4lis"
        target="_blank"
        class="mx-3 text-secondary hover:text-accent"
        aria-label="Codepen"
        title="Codepen"
    >
        <i class="bx bxl-codepen" style="font-size: 24px;"></i>
    </a>
    <a
        href="https://www.linkedin.com/in/itsjustivan/"
        target="_blank"
        class="mx-3 text-secondary hover:text-accent"
        aria-label="LinkedIn"
        title="LinkedIn"
    >
        <i class="bx bxl-linkedin" style="font-size: 24px;"></i>
    </a>
    <a
        href="https://www.instagram.com/itsjustivanyip/"
        target="_blank"
        class="mx-3 text-secondary hover:text-accent"
        aria-label="Instagram"
        title="Instagram"
    >
        <i class="bx bxl-instagram" style="font-size: 24px;"></i>
    </a>
</div>
